/* ------------------- */
/* Global Rules */
/* ------------------- */

:root {
  --grey-text: #999999;
  --vinted-color: #05aeb6;
  --light-grey: #f5f6f7;
  --darker-grey: #6c6c6d;
}

* {
  box-sizing: border-box;
}

.container {
  max-width: 1185px;
  margin: 0 auto;
}

/* Images */
img {
  object-fit: cover;
}

/* Titles */
h2 {
  font-size: 34px;
  line-height: 42px;
}

h3 {
  font-size: 24px;
  font-weight: bold;
  line-height: 32px;
  margin-bottom: 40px;
}

/* Buttons */
button,
input[type="submit"] {
  background-color: var(--vinted-color);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: inherit;
}

/* Links */
a {
  text-decoration: none;
  color: inherit;
}

/* ------------------- */
/* Header */
/* ------------------- */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}

header img {
  width: 75px;
}

header > form > div {
  background-color: var(--light-grey);
  border-radius: 5px;
  height: 30px;
  width: 420px;
  padding: 10px 15px;
  display: flex;
  align-items: center;
}

header .icon {
  margin-right: 15px;
  color: var(--grey-text);
}

header input {
  background-color: inherit;
  border: none;
  height: 20px;
  width: 100%;
  margin: none;
}

header input:focus {
  outline: transparent 1px solid;
}

header button {
  width: 120px;
  height: 30px;
}

header > div button {
  background-color: white;
  color: var(--vinted-color);
  border: 1px solid var(--vinted-color);
}

header > div button:first-child {
  margin-right: 15px;
}

/* ------------------- */
/* Main */
/* ------------------- */

/* Loading Page */

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 200px);
}

.loading img {
  height: 350px;
}

/* Hero banner */
main > div:first-child {
  position: relative;
}

main > div:first-child img {
  width: 100%;
  height: 415px;
}

main > div:first-child > div {
  position: absolute;
  top: 80px;
  left: 40px;
  height: 260px;
  width: 400px;
  background-color: #fff;
  padding: 40px 35px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

main > div:first-child button {
  width: 190px;
  height: 45px;
  font-size: 16px;
}

/* Offer vignettes */
main > div:nth-child(2) {
  display: flex;
  margin-top: 20px;
  width: 100%;
}

.offer-vignette {
  border: 1px solid black;
  margin-bottom: 10px;
  width: 240px;
  display: flex;
  flex-direction: column;
  height: 450px;
}

.offer-vignette:not(:nth-child(5n)) {
  margin-right: 15px;
}

.offer-vignette div:first-child {
  display: flex;
  align-items: center;
}

.offer-vignette div:first-child img {
  border-radius: 50%;
  height: 25px;
  width: 25px;
  margin: 10px;
}

.offer-vignette > img:nth-child(2) {
  height: 355px;
  width: 100%;
}

/* Sign Up & LogIn */
.login-signup form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 70px auto;
  width: 265px;
}

.login-signup input[type="text"],
.login-signup input[type="password"],
.login-signup input[type="email"] {
  border: none;
  border-bottom: solid 1px var(--light-grey);
  width: 260px;
  height: 25px;
  margin-bottom: 20px;
  font-size: 18px;
}

.login-signup input[type="checkbox"] {
  width: 25px;
  height: 25px;
  margin-bottom: none;
  margin-right: 20px;
}

.login-signup input[type="submit"] {
  height: 45px;
  width: 260px;
  font-size: 18px;
  margin-bottom: 20px;
}

.login-signup form > div {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.login-signup form a {
  color: var(--vinted-color);
}

.login-signup form p {
  font-size: 18px;
}

.eye {
  position: relative;
  right: 25px;
  bottom: 12px;
}

.legal {
  color: var(--darker-grey);
  font-size: 14px;
  margin-bottom: 15px;
  text-align: justify;
}

/* Checkout Form */

.StripeElement,
.StripeElement--empty {
  border: 1px solid black;
  background-color: var(--light-grey);
  width: 600px;
  height: 50px;
}

/* ------------------- */
/* Footer */
/* ------------------- */
footer {
  height: 80px;
  border-top: solid 1px var(--vinted-color);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

footer img {
  width: 35px;
  margin-right: 15px;
}

footer a,
footer p {
  color: inherit;
  font-size: 16px;
  margin-bottom: 0;
}

footer a {
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
}

footer a:hover {
  color: var(--vinted-color);
}
