/* ------------------- */
/* Global Rules */
/* ------------------- */

:root {
  --grey-text: #999999;
  --vinted-color: #05aeb6;
  --light-grey: #f5f6f7;
  --darker-grey: #6c6c6d;
}

* {
  box-sizing: border-box;
}

.container {
  max-width: 1185px;
  margin: 0 auto;
}

.hidden {
  display: none;
}

/* Images */
img {
  object-fit: cover;
}

/* Titles */
h2 {
  font-size: 34px;
  line-height: 42px;
  margin-bottom: 40px;
}

h3 {
  font-size: 24px;
  font-weight: bold;
  line-height: 32px;
  margin-bottom: 40px;
  margin-top: 20px;
}

/* Buttons */
button,
input[type="submit"] {
  background-color: var(--vinted-color);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: inherit;
}

.disabled {
  opacity: 0.7;
}

/* Links */
a {
  text-decoration: none;
  color: inherit;
}

/* ------------------- */
/* Header */
/* ------------------- */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}

header img {
  width: 75px;
}

header > form > div {
  background-color: var(--light-grey);
  border-radius: 5px;
  height: 30px;
  width: 420px;
  padding: 10px 15px;
  display: flex;
  align-items: center;
}

header .icon {
  margin-right: 15px;
  color: var(--grey-text);
}

header input {
  background-color: inherit;
  border: none;
  height: 20px;
  width: 100%;
  margin: none;
}

header input:focus {
  outline: transparent 1px solid;
}

header button {
  width: 120px;
  height: 30px;
}

header > div button {
  background-color: white;
  color: var(--vinted-color);
  border: 1px solid var(--vinted-color);
}

header > div button:first-child {
  margin-right: 15px;
}

/* ------------------- */
/* Main */
/* ------------------- */

/* Loading Page */

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 200px);
}

.loading img {
  height: 350px;
}

/* Hero banner */
.home > div:first-child {
  position: relative;
}

.home > div:first-child img {
  width: 100%;
  height: 415px;
}

.home > div:first-child > div {
  position: absolute;
  top: 80px;
  left: 40px;
  height: 260px;
  width: 400px;
  background-color: #fff;
  border-radius: 5px;
  padding: 40px 35px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.home > div:first-child button {
  width: 190px;
  height: 45px;
  font-size: 16px;
}

/* Offer vignettes */
.home > div:nth-child(2) > div {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  width: 100%;
  margin-bottom: 30px;
}

.offer-vignette {
  margin-bottom: 10px;
  width: 220px;
  display: flex;
  flex-direction: column;
  height: 450px;
  cursor: pointer;
  padding: 5px;
}

.offer-vignette:not(:nth-child(5n)) {
  margin-right: 15px;
}

.offer-vignette div:first-child {
  display: flex;
  align-items: center;
}

.offer-vignette div:first-child img {
  border-radius: 50%;
  height: 25px;
  width: 25px;
  margin: 10px;
}

.offer-vignette > img:nth-child(2) {
  height: 355px;
  width: 100%;
  margin-bottom: 10px;
}

.offer-vignette > div:nth-child(3) {
  display: flex;
  justify-content: space-between;
}

.offer-vignette p {
  font-size: 18px;
}

.home p > span {
  cursor: pointer;
}

.home p > span:hover {
  font-weight: bold;
}

.home > div > button {
  height: 25px;
  margin-right: 20px;
  margin-top: 20px;
}

/* Sign Up & LogIn */
.forms-main form,
.checkout-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 70px auto;
  width: 265px;
}

.forms-main input[type="text"],
.forms-main input[type="password"],
.forms-main input[type="email"] {
  border: none;
  border-bottom: solid 1px var(--light-grey);
  width: 260px;
  height: 25px;
  margin-bottom: 30px;
  font-size: 18px;
}

.forms-main input[type="checkbox"] {
  width: 25px;
  height: 25px;
  margin-bottom: none;
  margin-right: 20px;
}

.forms-main input[type="submit"],
.checkout-form input[type="submit"],
.product-info button {
  height: 45px;
  width: 260px;
  font-size: 18px;
  margin-bottom: 20px;
}

.forms-main form > div {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.forms-main form a {
  color: var(--vinted-color);
}

.forms-main form p {
  font-size: 18px;
}

.eye {
  position: relative;
  right: 25px;
  bottom: 12px;
}

.legal {
  color: var(--darker-grey);
  font-size: 14px;
  margin-bottom: 15px;
  text-align: justify;
}

.forms-main form .warning {
  margin-bottom: 15px;
  color: rgb(230, 82, 82);
  text-align: center;
  font-size: 15px;
}

/* Offer/product info */
.product-info {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.product-info > div {
  background-color: var(--light-grey);
  width: 300px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.product-info img {
  width: 400px;
  height: 400px;
  margin-right: 30px;
}

.product-info p {
  font-size: 20px;
  margin-bottom: 15px;
}

.product-info > div > div {
  margin-bottom: 30px;
}

/* Publish offer */

.forms-main label {
  background-color: var(--vinted-color);
  color: #fff;
  width: 150px;
  height: 25px;
  border-radius: 5px;
  text-align: center;
  line-height: 25px;
}

.forms-main img {
  height: 80px;
  width: 80px;
  margin-left: 20px;
}

.forms-main .publish-div {
  flex-direction: column;
}

.forms-main .publish-div > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.forms-main .publish-div > div span {
  margin-bottom: 25px;
  display: block;
  margin-right: 20px;
  font-size: 20px;
}

/* Checkout Form */

.checkout-form p {
  margin-bottom: 20px;
  width: 350px;
  line-height: 20px;
}

.checkout-form p span {
  color: var(--vinted-color);
  font-weight: bold;
}

.StripeElement,
.StripeElement--empty {
  width: 500px;
  height: 50px;
  margin-bottom: 20px;
  border-radius: 5px;
}

/* ------------------- */
/* Footer */
/* ------------------- */
footer {
  height: 80px;
  border-top: solid 1px var(--vinted-color);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

footer img {
  width: 35px;
  margin-right: 15px;
}

footer a,
footer p {
  color: inherit;
  font-size: 16px;
  margin-bottom: 0;
}

footer a {
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
}

footer a:hover {
  color: var(--vinted-color);
}
